.news__title {
    font-size: 48px;
    font-weight: 600;
}

.news__grid-wrapper {
    position: relative;
}

.news__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 992px) {
    .news__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .news__grid {
        grid-template-columns: 1fr;
    }
}

.news__grid-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    pointer-events: none;
    background: linear-gradient(to bottom, #F5F8FF00, #F5F8FFCC, #F5F8FF);
}

.news__state {
    text-align: center;
    padding-bottom: 70px;
    color: #070C1E;
    font-size: 18px;
    font-weight: 600;
}

.news__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.news__load-more {
    background-color: #070C1E;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 11.5px 40px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.news__load-more:hover {
    background-color: #070C1EE6;
}

.news__button-nav {
    display: flex;
    gap: 30px;
    margin-top: 77px;
}

.news__button-arrow {
    width: 48px;
    height: 48px;
    background-color: #070C1E14;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news__button-numbers {
    display: flex;
    gap: 10px;
}

.news__button-number {
    width: 48px;
    height: 48px;
    background-color: #F5F8FF;
    border-radius: 50%;
    border: none;
    color: #070C1E;
    font-size: 18px;
    font-weight: 600;
}

.news__button-number--active {
    background-color: #070C1E;
    color: white;
}