.news__title {
    font-size: 48px;
    font-weight: 600;
}

.news__filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 992px) {

    .news__filters {
        display: inline-flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        max-width: 100%;
    }
}

@media (max-width: 600px) {

    .news__filters {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.news__chips {
    display: flex;
    gap: 20px;
}

@media (max-width: 600px) {

    .news__chips {
        flex-direction: column;
        align-items: center;
    }
}

.news__chip {
    color: #2554F0;
    font-size: 18px;
    font-weight: 600;
    background-color: #F5F8FF;
    padding: 11.5px 24px;
    border: 1px solid #2554F080;
    border-radius: 60px;
    white-space: nowrap;
}

.news__chip:active {
    background-color: #2554F014;
}

.news__selects {
    display: flex;
    gap: 30px;
    min-width: 0;
}

@media (max-width: 600px) {
    .news__selects {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
    }
}

.news__select {
    width: 300px;
    min-width: 150px;
    max-width: 300px;
    padding: 13px 16px 13px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    background-color: #EFF3FF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .news__select {
        width: 100%;
    }
}