.news__pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.news__load-more {
    background-color: #070C1E;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 11.5px 40px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.news__load-more:hover {
    background-color: #070c1ecc;
}

.news__pagination-nav {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

@media (max-width: 1020px) {
    .news__pagination-nav {
        margin-top: 30px;
    }
}

.news__pagination-arrow {
    width: 48px;
    height: 48px;
    background-color: #070c1e14;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.news__pagination-arrow:hover {
    background-color: #070c1e26;
}

.news__pagination-pages {
    display: flex;
    gap: 10px;
}

.news__pagination-page {
    width: 48px;
    height: 48px;
    background-color: #F5F8FF;
    border-radius: 50%;
    border: none;
    color: #070C1E;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.news__pagination-page:hover {
    background-color: #070C1E14;
}

.news__pagination-page--active {
    background-color: #070C1E;
    color: white;
}

.news__pagination-page--active:hover {
    background-color: #070c1ecc;
}